<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11166795982-fc8kaivdj87kr8ck2p9hnd92c0q1g4mk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11166795982-fc8kaivdj87kr8ck2p9hnd92c0q1g4mk</string>
	<key>API_KEY</key>
	<string>AIzaSyDw-5nUBTHFB6MDdor0DTe5fmayQobt04Q</string>
	<key>GCM_SENDER_ID</key>
	<string>11166795982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTodoAppFirestore3</string>
	<key>PROJECT_ID</key>
	<string>my-todo-app3</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-app3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11166795982:ios:7e627ac89884c7bc2be89f</string>
	<key>DATABASE_URL</key>
	<string>https://my-todo-app3.firebaseio.com</string>
</dict>
</plist>